* {
  margin: 0;
  padding: 0;
}

body {
  background: url(/2_Pferd_Pferd_Fragezeichen.jpeg);
}

.title {
  margin-top: 0px;
  font-family: 'Times New Roman', sans-serif;
  font-style: normal;
  font-size: 20px;
}

.beschreibung {
  color: #008080;
}

.ueberschrift {
font-size: 20px;
color: black;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 15px; 
  font-family: 'Times New Roman', sans-serif;
}

.extra {
  color: #800080;
}