body {
  background: url(/2_Pferd_Pferd_Fragezeichen.jpg) no-repeat;
  background-size: 70% 70%;
  background-position: 25% 25%;
}

.seite {
line-height: 1.0;
position: absolute;
}

.title {
  font-family: 'Times New Roman', sans-serif;
  margin-bottom: 5px;

}

.beschreibung {
  margin-top: 0px;
  font-size: 95%;
  vertical-align:top;
  color: #ba55d3;
  margin-bottom: 15px;
}

.ueberschrift {
margin-top: 5px;
vertical-align:top;
color: black;
margin-bottom: 5px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Times New Roman', sans-serif;
}

.impressum
{
  margin-left: 2em;
}

.entstehung
{
  margin-left: 2em;
}

.extra {
  margin-left: 3em;
  margin-top: 0px;
  color: #f4a460;
  margin-bottom: 5px;
}

.pdf {
 color: #008080;
}

.empfehlung
{
margin-left: 2em;
}

.druckLink
{
margin-left: 2em;
margin-bottom: 5px;
}
