body {
  background: url(/2_Pferd_Pferd_Fragezeichen.jpeg);
  color: #8b0000;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%; 
  font-family: 'Times New Roman', sans-serif;}

a         { color: #00a; }
a:hover   { color: #000; }
a:visited { color: #a0a; }


/* Seite
/*

.title {
  display: inline-block;
  margin-bottom: 2em;
}

.beschreibung {

}

.seite {
  text-align: justify;
}

.ueberschrift {
color: black;
}


.extra {
  padding: 20px 100px 30px 200px;
}